
    /*! generateur de fonte par fontsquirrel */
    @font-face {
        font-family: "Raleway";
        src: url('raleway-thin-webfont.woff2') format('woff2'),
            url('raleway-thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
.logo {
      width: 150px;
      height: 80px;
      padding-top: 3px;
   padding-right: 900px; 
 }
       
body  {
   font-size:1em;
      font-family: "Raleway";
      }
      /*header*/
 header
      {
      display:flex;
      list-style-type: none;
      font-family:'ralewaythin';
      }



.navigation {display: flex;
    list-style-type: none;
font-family: 'ralewaythin';
font-size: large;}

.nav{padding: 20px 25px 0 15px;
    margin-right: 40px;
}
.nav:hover{ border-top: 3px solid #6464f1;
        padding-top: 37px;}
.nav :hover{color: #6464f1  ;}   
 a{color: black;}  
 
.sinscrire{color:#0065fc;
    font-weight:bolder;}

  /*end header*/
  /*--------------place of text and icones --------------*/
.text {
    margin-top: 30px;
    text-align: left;
font-family:'raleway';
 margin-bottom:1.7rem; 
 font-size: 2em;
}
.description
  {
  font-weight:20em;
  font-size:2em;
  font-family:'raleway';
  margin-top: 0%;
 }
 /*search bar*/
.iconemap
{
 display:flex;
 justify-content: flex-start;
 width:35%;
 height:3rem;
 margin-left:0;
 color:white;
 margin-top:4rem;
 margin-bottom:4rem;
 border-radius:25px;

} 
.iconemap i
{ 
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgb(5, 5, 5);
  background-color:rgb(202, 189, 189);
  border-radius:  15px 0  0 15px  ;
  width:8rem;
  height:3rem;
  Font-size:1rem;
  padding: 0 2% ;
}

.fill-in-the-field
{
display:flex;
border:solid rgba(239, 237, 237, 0.842) 0.05rem;
height:3rem;
width:20rem;  
padding-left:4rem;
  Font-size:1.8rem;
 font-family:'ralewayblack';

}
 
.search
{
  display:flex;
  background-color:rgb(87, 87, 234);
  color:white;
  text-decoration: none;
  width:22rem;
  height:3rem;
  justify-content:center;
  align-items:center;
  font-family: 'ralewaythin';
  font-size:1.5rem;
  font-weight:200;  
  border-radius: 0 15px 15px 0 ;
  padding:0 1%;
visibility: visible;}
.magnifier i {  
    border-radius: 0 15px 15px 0 ;
    color:white;
    background-color:rgb(87, 87, 234);
    padding:0 1%;
    visibility: hidden;

  }
/*------------------end text-icones--------------*/

/*-------****------ place of filters--------****-----------*/
.flex-filter-text{
    display: flex;
    gap: 30px;
    font-family: 'raleway';
    font-weight: bolder;
}
.filter{font-size: larger;}
.icones{
    display:flex;
    width:14rem;  
    height:3rem;
    font-weight: bold;
    Font-size:1rem;
    Font-family:"raleway" ;
    color:rgb(5, 4, 4);
    border-radius: 30px;
    border: 3px  solid rgb(214, 209, 209);
   
  }
 .icones i { display: flex;
    align-items:center;
     color:rgb(73, 123, 231);
    background-color:rgb(209, 222, 241);
    width:2rem;
  padding: 10px 0 10px 10px;
    border-radius: 30px;
 }
   a:link{
       text-decoration: none;
       padding-top: 5.5%;
   }
.tooltip {
    color: blue;
    display: flex;
    padding: 6px 6px;
}
.tooltiptext{color :black;}

 
/*-------****------end of filters--------****-----------*/

/*------------- place of containers and cards-------------------*/

 
.container-accommodation-popular{
    display: flex; 
    font-size: 1em;
    gap: 25px;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: content-box;
    font-family: "raleway-thin-webfont";
  }
  
  .containerleft {
    display: flex;
    gap: 2px;
    width: 1000px;
    height: 700px;
    background-color: rgb(228, 231, 241);
    flex-wrap: wrap;
    border: rgb(219, 219, 228) solid 2px;
    border-radius: 10px;
    flex-direction: row;
  }
  .cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
  }
  .leftcards {
  margin-left: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    padding: .5%;
    font-weight: lighter;
    justify-content: center;
    align-content: center;
    width: 260px;
    height: 245px;
  }
  .img {
    width: 255px;
    height: 150px;
    border-radius: 14px 10px 0 0;
  }

.containerright{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    background-color: rgb(228, 231, 241);
    border:2px solid rgb(252, 248, 248);
    border-radius: 10px;
    padding:0px;
    width: 450px;
    height: 700px; 
}
 
 .chartline{ margin-left:180px ;}
.rightcards{border: #ded3d3;
    background-color: rgb(255, 255, 255);
border-radius: 30px;
padding: 2%;
margin:4%;
height: 155px ;}
 

.pic{float: left;
    border-radius: 20px 0 0 20px;
width: 200px;
height: 155px;}
.avistar i
{font-weight: bold;
  color:#737de5;
  font-size: small;
}

.fa-star.unchecked {
color: grey;
}
 

/*------------- place of containers and cards-------------------*/

/*------------- place of box and cards-------------------*/

.box{display:  flex;
     box-sizing:content-box;
     width: 1500px;
     height: 500px;
     margin-left: 0px;
     background-color: #ffffff;
     float: left;
    
 
}
 
 
.cardsactivites{    
     flex-direction: row;
padding: 2%;
    width: 300px;
    height: 400px;
    margin-left: 0%;
    
}
.figure{width: 300px;
    height: 300px;
 border-radius: 10%  10% 0 0;
  float: left;
 }
.cards_activites{ display: block; 
    width: 320px;
    height: 400px;
    padding: 2%;
 }
    .figure-marsaille{width: 320px;
        height: 130px;
        border-radius: 10% 10% 0 0;
        padding: 1px;
          float: left;
    }
figcaption{background-color: rgb(251, 251, 248);
    width: 300px;
font-family: 'ralewaythin';
font-size: 1.19em;
font-weight:lighter;
border: 2px solid white;
padding: 2% ;
border-radius: 10% 10% 10px 10px; }
/*------------- place of box and cards-------------------*/

 
    /* Section Footer */


   .navfooter {
	width: 100%;
	 height: 100px;
	display: flex;
     justify-content: space-between;
      background-color: #f3f0f0;
     font-family: 'ralewaythin';
   

 }

.ulfooter{
	 
	display: flex;
	flex-direction: column;
	list-style-type: none;
	font-size: 18px;
	text-align: left;
}
.firsttitle {
	font-family: 'ralewaythin';
	font-size: 25px;
    font-weight: bolder;
}


@media screen and (max-width: 600px){
        /*header*/
   header
        {
        display:block;
        margin: 5% 0;
        }
  .logo {
            margin: 5% 4%;
       }
  .navigation { 
    padding: 5% 0 3% 0;
    margin: 0;
    font-size: 20px; 
}
 .nav:nth-child(1)
{ 
    border-top: none;
    width: 50%;
    border-bottom: 3px solid #0065FC;

  }
   .nav:nth-child(2){
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
    text-decoration: none;

}
/* Le s'inscrire sort du flux et est positionné en haut à droite */
 .nav:nth-child(3) {
    position: absolute;
    top: 8%;
    right: .2rem;
    text-decoration: none;
     
}
a:link{text-decoration: none;}
   

/* Section recherche et Filtres */
.filter-text  {
    padding: 0;
    margin: 0 6% 2rem 6%;
    font-size: 18px;
}
.text{
    font-family: 'raleway bold';
    margin-bottom: 1rem;
}
/* Barre de recherche */
 .iconemap{
  
    width: 10rem;
    height:3rem;
}
.iconemap i
{width: 8rem;
     background-color: rgb(221, 233, 233);
    height:3rem;
    Font-size:2rem;
    border: 1px solid ghostwhite;
    border-radius:  15px 0  0 15px  ;
    padding:0 5%;

     

}
.fill-in-the-field   {
    border-right: none;
    display:flex;
    border:solid rgba(239, 237, 237, 0.842) 0.05rem;
    height:3rem;
    width:12rem;  
    padding-left:1rem;
      Font-size:.89em;
     font-family:'ralewayblack';}
     
  
     .search
     {
       display:none;
       background-color:rgb(87, 87, 234);
       color:white;
       text-decoration: none;
       width:22rem;
       height:3rem;
       border-radius: 0 15px 15px 0 ;
       padding:0 1%;
     visibility: hidden;}
.magnifier i {  
    border-radius:10px 15px 15px 10px ;
    color:white;
    background-color:rgb(87, 87, 234);
    padding:0 1%;
    visibility: visible;
    width:5rem;
    height:3rem;

  }
    /* Les filtres */
    .filter{width: 50px;text-align: start;padding-right: 200px;}
    .flex-filter-text { width: 100px;
        display: flex;
		flex-wrap: wrap;
        width: 35rem;
        margin-left: 0%;
 		margin-bottom: 1rem;

}
.icones{width: 10rem;}}

    /* Info */
div#info {
    font-size: 16px;
}
div#infoWrapper {
    margin: 0 1.5rem 0 0;
}

}
