
    /*! generateur de fonte par fontsquirrel */
    @font-face {
        font-family: 'ralewaythin';
        src: url('raleway-thin-webfont.woff2') format('woff2'),
            url('raleway-thin-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
.logo {
      width: 150px;
      height: 80px;
      padding-top: 3px;
   padding-right: 360px; 
 }
.text {
        margin-top: 30px;
        text-align: left;
    }
       
body  {
   font-size:1em;
      font-family:"raleway","Trebuchet MS",Arial,sans-serif;
      }
      /*header*/
 header
      {
      display:flex;
      list-style-type: none;
      font-family:'ralewaythin';
      }



.navigation {display: flex;
    list-style-type: none;
padding-left: auto;}

.nav{padding: 40px 35px 0 35px;
    margin-right: 40px;
}
.nav:hover{ border-top: 3px solid #6464f1;
        padding-top: 37px;}
.nav :hover{color: #6464f1  ;}   
 a{color: black;}  
 
.Sinscrire{color:#0065fc;
    font-weight:bolder;}

  /*end header*/
  /*--------------place of text and icones --------------*/
h2
 {font-family:'ralewaythin';
 margin-bottom:1rem; 
}
.description
  {
  font-weight:20em;
  font-size:1rem;
  font-family:'ralewaythin';
  margin-top: 0%;
 }
.iconemap
{
 display:flex;
 justify-content: flex-start;
 width:25%;
 height:3rem;
 margin-left:0;
 color:white;
 margin-top:4rem;
 margin-bottom:4rem;
 border-radius:25px;

} 
.iconemap i
{ 
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgb(5, 5, 5);
  background-color:rgb(202, 189, 189);
  border-radius:  15px 0  0 15px  ;
  width:6rem;
  height:3rem;
  Font-size:1rem;
  padding: 0 2% ;
}

.fill-in-the-field
{
display:flex;
border:solid rgba(204, 203, 203, 0.842) 0.05rem;
height:3rem;
width:18rem;  
padding-left:4rem;
  Font-size:1.3rem;
font-weight:200;
 font-family:"ralewaythin" ;
color:rgb(132, 125, 125)
}
.search
{
  display:flex;
  background-color:rgb(72, 72, 246);
  color:white;
  text-decoration: none;
  width:20rem;
  height:3rem;
  justify-content:center;
  align-items:center;
  font-family: 'ralewaythin';
  font-size:1rem;
  font-weight:200;  
  border-radius: 0 15px 15px 0 ;
  padding:0 1%;}

/*------------------end text-icones--------------*/

/*-------****------ place of filters--------****-----------*/
.flex-filter-text{
    display: flex;
    gap: 30px;
    font-family: 'raleway-thin-webfont';
    font-weight: bolder;
}
.icones{
    display:flex;
    width:12rem;  
    height:2rem;
    font-weight: bold;
    text-align:unset;
    Font-size:1rem;
    Font-family:"ralewaythin" ;
    color:rgb(5, 4, 4);
    border-radius: 30px;
    border: 3px  solid rgb(214, 209, 209);
   
  }
 .icones i { display: flex;
    align-items:center;
     color:rgb(73, 123, 231);
    background-color:rgb(209, 222, 241);
    width:2rem;
  padding: 10px 0 10px 10px;
    border-radius: 30px;
 }
   a:link{
       text-decoration: none;
       padding-top: 2.5%;
   }
.tooltip {
    color: blue;
    display: flex;
    padding: 6px 6px;
}
.tooltiptext{color :black;}

 
/*-------****------end of filters--------****-----------*/

/*------------- place of containers and cards-------------------*/


.container-hebergements  {display: flex; 
	font-size: 15px;
	  gap: 20px; 
      justify-content: start;
      align-items: flex-start; 
      flex-wrap: wrap;
      box-sizing: content-box;
      font-family: 'raleway-thin-webfont';
      
     
} 
  .hebergement-title{font-size: larger;
    font-family:'raleway' ;
position: absolute;
padding: 10px 0px 0px 40px;
margin-top: 0%;
 }

.containerleft {   display: flex;
  gap: 2px;
    width: 700px;
    height: 600px;
    background-color: rgb(228, 231, 241);
    flex-wrap: wrap;
    border: rgb(219, 219, 228) solid 2px;
    border-radius: 10px;
     flex-direction: row; 
      margin-left: 0px;
    }
 .leftcards{
    padding: 1.3%;
    margin:3%;
      border-radius: 20px;
     background-color: rgb(253, 251, 244);
     font-weight: lighter;
     justify-content: center;
     align-content: center;
     width: 170px;
     height: 200px;
 }    
 
.title{padding-top: 500px;}
.containerright{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    background-color: rgb(228, 231, 241);
    border:2px solid rgb(252, 248, 248);
    border-radius: 10px;
    padding:0px;
    width: 300px;
    height: 600px; 
}
.rightcards{border: #ded3d3;
    background-color: rgb(255, 255, 255);
border-radius: 30px;
padding: 2%;
margin:4%;
height: 155px ;}
 
.img{width: 170px;
    height: 100px;
    border-radius: 14px;
}
.pic{float: left;
    border-radius: 20px 0 0 20px;
width: 140px;
height: 155px;}
.avistar i
{font-weight: bold;
  color:#737de5;
  font-size: small;
}

.fa-star.unchecked {
color: grey;
}
.title_act{      
    margin-bottom: 0%;
    font-family: 'raleway';
font-size:  large;
font-weight: bold;}
/*------------- place of containers and cards-------------------*/

/*------------- place of box and cards-------------------*/

.box{display: flex;
     box-sizing:content-box;
     width:1030px;
     height: 400px;
     margin-left: 0px;
     background-color: #f9f9ff;
     float: left;
    
 
}
.cardsactivites{     flex-direction: row;

    width: 250px;
    height: 400px;
    margin-left: 0%;
}
.cards_activites{ display: block; 
    width: 250px;
    height: 400px;
    padding: 0px;
    margin-left: 0px;
}
 
.figure{width: 220px;
    height: 300px;
 border-radius: 10%  10% 0 0;
 margin-left: 0px;
 float: left;
 }
    .figure-marsaille{width: 220px;
        height: 130px;
        border-radius: 10% 10% 0 0;
        padding: 1px;
        margin-left: 0%;
        margin: 0%;
        float: left;
    }
figcaption{background-color: rgb(251, 251, 248);
font-family: 'ralewaythin';
font-size: medium;
font-weight: lighter;
padding: 1px;}
/*------------- place of box and cards-------------------*/

 
    /* Section Footer */
footer {
	width: 1010px;
	background-color: #ded3d3;
    
}

footer nav {
	width: 900px;
	 height: 100px;
	display: flex;
     justify-content: space-between;
     padding: 40px ;

 }

footer nav ul {
	 
	display: flex;
	flex-direction: column;
	list-style-type: none;
	font-size: 18px;
	text-align: left;
}
footer nav ul li:nth-child(1) {
	font-family: 'ralewaythin';
	font-size: 25px;
    font-weight: bolder;
}


 